<section>
  <div class="quadrants-container">
    <div class="quadrant">
      <div appCustomTooltip [toolTipData]="toolTipLeft">
        Component 1 Left
      </div>
    </div>
    <div class="quadrant">
      <div appCustomTooltip [toolTipData]="toolTipRight">
        Component 1 Right
      </div>
    </div>
    <div class="quadrant">
      <div appCustomTooltip [toolTipData]="toolTipAbove">
        Component 2 Top
      </div>
    </div>
    <div class="quadrant">
      <div appCustomTooltip [toolTipData]="toolTipBelow">
        Component 2 Bottom
      </div>
    </div>
  </div>
</section>
